#Pense bête àl'éventuel futur moi:
# - Trouver un moyen d'automatiser ce bordel
# - les .htaccess, c'est de la merde, mieux vaut écrire dans la bonne balise <directory> de httpd.conf
# - décommenter la ligne loadmodule .._rewrite.so

# On suit les liens symboliques 
Options +FollowSymlinks 
# Activation du mod rewrite d'Apache 
RewriteEngine On

# 404 TODO
ErrorDocument 404 /index.html

# Réécriture de index.html vers index.php 
RewriteRule ^index\.html$ /index.php [L]
#RewriteRule ^mongrostest$ /index.php [L] #OK!