# Pense bête à l'éventuel futur moi:
#  - Les .htaccess, ce n'est bon que pour la recette, mieux vaut écrire dans la bonne balise <directory> de httpd.conf
#  - décommenter la ligne loadmodule .._rewrite.so

# On suit les liens symboliques 
Options +FollowSymlinks 
# Activation du mod rewrite d'Apache 
RewriteEngine On

# 404
ErrorDocument 404 /404.php


# Empêcher des erreurs d'affichages en redirigeant les pages finissant par un /
# vers la même page sans /
RedirectMatch (.+)\/$ $1

# Réécriture de index.html vers index.php 
RewriteRule ^login$ /index.php?action=login [L]
RewriteRule ^register$ /index.php?action=register [L]
RewriteRule ^about$ /index.php?action=about [L]
RewriteRule ^submit$ /index.php?action=submit [L]
RewriteRule ^logout$ /logout.php [L]
RewriteRule ^user\/([^\/]*)$ /index.php?action=user&user=$1 [L]