#Pense bête à l'éventuel futur moi:
# - Les .htaccess, ce n'est bon que pour la recette, mieux vaut écrire dans la bonne balise <directory> de httpd.conf
# - décommenter la ligne loadmodule .._rewrite.so

# On suit les liens symboliques 
Options +FollowSymlinks 
# Activation du mod rewrite d'Apache 
RewriteEngine On

# 404
ErrorDocument 404 /404.php

# Réécriture de index.html vers index.php 
RewriteRule ^index\.html$ /index.php [L]
RewriteRule ^(login\/?)$ /index.php?action=login [L]
RewriteRule ^(register\/?)$ /index.php?action=register [L]
RewriteRule ^(about\/?)$ /index.php?action=about [L]
RewriteRule ^(user\/([^\/]*)\/?)$ /index.php?action=user&user=$2 [L]
#RewriteRule ^télécharger\/([0-9]+)-(s|l)\/.*\/description$ /suggest.php?file_id=$1&length=$2 [L]
#RewriteRule ^télécharger\/([0-9]+)\/.*$ /file.php?id=$1 [L]
#RewriteRule ^users?\/(.*)$ /users.php?name=$1 [L]